
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f6f9fc;
  color: #333;
}

header {
  background-color: #17594a;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.hero {
  padding: 40px 20px;
  text-align: center;
}

.sobre {
  background: #e8f5e9;
  padding: 40px 20px;
}

.contato {
  padding: 40px 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.btn {
  background: #2ecc71;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

footer {
  background: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
